{% extends 'base.html.twig' %}

{% block title %}Demo Page{% endblock %}

{% block body %}
    <h1>Demo Page</h1>

    <p>
        We have {{ topics }} topics with {{ view_count }} views.
    </p>
{% endblock %}
